#contact-info {
font-size: .8em;
}
#contact-info:first-child {
background-color: black;
}
.job {
background-color: .#e9e5dc;
border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
}
.ul {
font-size: .8em;
}
ul>li {
text-decoration: underline;
}